@{
    Layout = null;
    cls_seguridad_sesiones tmpSesión = new cls_seguridad_sesiones();
    if (TempData["myObjSesión"] != null)
    {
        tmpSesión = TempData["myObjSesión"] as cls_seguridad_sesiones;
    }
    int numaccion = 1;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@globales.NombreComercialEmpresa</title>
    	<link href="@Url.Content("~/Content/kendo/2023.1.117/kendo.default-ocean-blue.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../Content/fa/font-awesome.min.css">
    <link rel="stylesheet" href="../../Content/ionic/ionicons.min.css">
    <link rel="stylesheet" href="../../Content/AdminLTE.css">

    	<script src="@Url.Content("~/Scripts/kendo/2023.1.117/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2023.1.117/angular.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2023.1.117/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2023.1.117/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2023.1.117/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="../../scripts/axios.min.js"></script>



</head>
<body class="hold-transition skin-blue sidebar-mini">

    <style>
       
        #myMenu h2 {
            font-size: 1em;
            text-transform: uppercase;
            padding: 5px 10px;
        }

        #template img {
            margin: 5px 20px 0 0;
            float: left;
        }

        #template {
            width: 380px;
        }

            #template ol {
                float: left;
                margin: 0 0 0 30px;
                padding: 10px 10px 0 10px;
            }

            #template:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

            #template .k-button {
                float: left;
                clear: left;
                margin: 5px 0 5px 12px;
            }
    </style>
    <header class="main-header">
        @(Html.Kendo().Menu()
          .Name("myMenu")
          .Orientation(MenuOrientation.Horizontal)
          .Items(items =>
          {
              items.Add().Text("Resumen").Action("Home", "Reportes").ImageUrl("~/Content/media/24x24/home.png");
              items.Add().Text("Bihorario")
                .ImageUrl("~/Content/media/24x24/clock.png")
                .Items(subMenu =>
                {
                    subMenu.Add().Text("General").Action("Bihorario", "Reportes", new { dtFecha = System.DateTime.Now, Seleccion = "", Valor = "" });
                    subMenu.Add().Text("Estilos").Action("Bihorario_estilos", "Reportes", new { dtFecha = System.DateTime.Now });
                });
              items.Add().Text("Ajustes").Items(subMenu=> {
                  subMenu.Add().Text("Plantas");
                  subMenu.Add().Text("Líneas");
              });
              items.Add().Text("Salir").Action("Salir", "Seguridad").ImageUrl("~/Content/media/24x24/delete.png");
          })
        )
    </header>

    <div class="wrapper">
        
        <div class="content">
            @RenderBody()
        </div>

    
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> @globales.versionApp
        </div>
        <strong>Copyright &copy; 2022 <a href="http://www.rocedes.com.ni">ROCEDES, S.A.</a>.</strong> All rights reserved.
    </footer>
    </div>


</body>
</html>